@import "settings";
@import "foundation";

label {
  display: inline-block;
}

.todo-widget {
  width: 550px;
  margin: 50px auto;
  border: 1px solid rgb(202, 202, 202);
  padding: 10px;
  box-shadow: inset 0 0 1em rgb(245, 245, 245), 0 0 1em rgb(155, 147, 147);

  .new-todo {
    margin: 0;
  }

  .todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 50px;
  }

  .todo-list-item {
    border-bottom: 1px solid rgb(226, 226, 226);
    padding: 0 5px;

    &:hover {
      background-color: rgb(250, 250, 250);
      //transition: background-color 0.3s;
    }

    .remove-todo-list-item {
      float: right;
      margin-right: 20px;
    }

    .todo-list-item-title {
      margin-left: 10px;
    }

    &.completed {
      .todo-list-item-title {
        text-decoration: line-through;
        color: #c4cdc6;
      }
    }
  }
}

