<ul>
  {{#each todos as |todo|}}
      <li>{{todo.title}}</li>
  {{/each}}
</ul>        {{input type="text"
                value=newTodoTitle
                action="addNewTodo"
                placeholder='Add title for new todo'
                on="enter"}}