<section class='todo-widget'>

    <header>
        <h1 class="subheader">todo-widget</h1>
        {{input type="text"
                class='new-todo'
                value=newTodoTitle
                action="addNewTodo"
                placeholder='Add title for new todo'
                on="enter"}}
    </header>

    <section>
      {{todo-list todos=todos removeTodo='removeTodo'}}
    </section>

    <footer>
        <label class="items-count">{{todo-pluralize count=todos.length label='item' suffix='s'}}</label>

        <span class="actions">
            <a class="button info secondary radius tiny">clear completed</a>
        </span>

        <span class="filter">
            <a class="button radius tiny">show not completed</a>
            <a class="button radius tiny">show completed</a>
            <a class="button radius tiny">show all</a>
        </span>

    </footer>

</section>