<section class='todo-widget'>

    <header>
        <h1>todo-widget</h1>
        {{input type="text"
                class='new-todo'
                value=newTodoTitle
                action="addNewTodo"
                placeholder='Add title for new todo'
                on="enter"}}
    </header>

    <section>
      <ul class="todo-list">
        {{#each todos as |todo|}}
            <li class="todo-list-item">{{todo.title}}</li>
        {{/each}}
      </ul>
    </section>

    <footer>
        <span>item count</span>
        <span class="filter">
            <a class="button radius tiny">show not completed</a>
            <a class="button radius tiny">show completed</a>
            <a class="button radius tiny">show all</a>
        </span>

        <a class="button info secondary radius tiny">clear completed</a>
    </footer>

</section>